<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Guest Book</title>
        <link href="bootstrap.min.css" rel="stylesheet" >
        <link href="bootstrap-theme.min.css" rel="stylesheet" >
        <link href="theme.css" rel="stylesheet" >
    </head>
    <body>
        <div class="container theme-showcase" role="main" >
            <div class="jumbotron" >
                <h1>Guest Book</h1>
                <a type="button" class="btn btn-link" href="{% url 'sign' %}">Sign the Guest Book</a>

            </div>
            {% for c in comments %}
            <div class="page-header" >
                <h3>{{ c.name }} time: {{ c.date }}</h3>
            </div>
            <div class="well" >
                <p>{{ c.comment }}</p>
            </div>
            {% endfor %}
        </div>
    </body>


</html>