{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="">
            <meta name="author" content="">
            <title>Sign the Guest Book</title>
            <link href="{% static 'guestbook/bootstrap.min.css'%}" rel="stylesheet" >
            <link href="sign.css" rel="stylesheet" >

    </head>
    <body>
            <div class="container">
                
            <form class="form-signin" method="POST" action="{% url 'sign' %}" >{% csrf_token %}
                <h2 class="form-signin-heading" >Sign the Guest Book
                </h2>
                <div class="form_group" >
                        <label for="comment" class="sr-only" ></label>
                    
                        {{ form.name }}
                    </div>
                <div class="form_group" >
                    <label for="comment" class="sr-only" ></label>
                
                    {{ form.comment }}
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit" >Sign</button>
            </form>
            </div>
    </body>

</html>